* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin: 0;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #555;
}

img {
  max-width: 100%;
  height: auto;
}



/* Estilos generales del Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative; /* Necesario para posicionar el menú hamburguesa */
}

.navbar-logo {
  display: flex;
  align-items: center; /* Centra el logo y el texto */
  justify-content: flex-start; /* Alinea el logo y el nombre a la izquierda */
}

.navbar-logo .logo {
  width: 40px; /* Ajusta el tamaño del logo según lo necesites */
  height: auto;
  margin-right: 10px; /* Espacio entre el logo y el nombre */
}

.navbar-logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #222222;
  text-decoration: none;
}

/* Icono de hamburguesa */
.hamburger {
  font-size: 2rem;
  cursor: pointer;
  display: none; /* Inicialmente oculto */
  position: absolute; /* Posicionamos el icono dentro del navbar */
  top: 15px; /* Distancia desde el top */
  right: 20px; /* Distancia desde la derecha */
}

/* Menú */
.navbar-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  flex: 2; /* Hace que el menú ocupe el espacio restante */
  justify-content: flex-end; /* Alinea el menú a la derecha */
  z-index: 10; /* Asegura que el menú esté por encima de otros elementos */
}

/* Estilo del ítem del menú */
.navbar-menu-item {
  margin: 0 20px;
  font-size: 1.2rem;
  position: relative; /* Para colocar la línea debajo */
}

.navbar-menu-item a {
  color: #222222;
  text-decoration: none;
  position: relative;
  transition: color 0.3s;
}

/* Agregar la línea al pasar el cursor */
.navbar-menu-item a::after {
  content: "";
  position: absolute;
  bottom: -5px; /* Distancia desde el texto */
  left: 0;
  width: 0;
  height: 2px;
  background-color: #222222;
  transition: width 0.3s;
}

/* Mostrar la línea al pasar el cursor */
.navbar-menu-item a:hover::after {
  width: 100%;
}

/* Media query para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .navbar-menu {
    display: none; /* Oculta el menú por defecto */
    flex-direction: column; /* Muestra el menú en columna */
    width: 100%;
    text-align: center;
    position: absolute;
    top: 60px; /* Ajusta la posición debajo del logo */
    left: 0;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9; /* Asegura que el menú esté encima de otros elementos */
  }

  .navbar-menu-item {
    margin: 10px 0; /* Espaciado vertical */
  }

  .hamburger {
    display: block; /* Muestra el icono de hamburguesa */
  }

  .navbar-menu.show {
    display: flex ; /* Muestra el menú cuando tiene la clase 'show' */
  }
}







/* Estilo para la bienvenida */
#bienvenida {
  position: relative;
  width: 100%;
  height: 800px; /* Ajusta la altura según lo necesites */
  overflow: hidden;
}

.bienvenida-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.bienvenida-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen cubra todo el contenedor */
  transition: opacity 0.5s ease-in-out; /* Transición suave al hacer hover */
}

.bienvenida-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  opacity: 0;
  transition: opacity 0.5s ease-in-out; /* Hacer que el texto aparezca con un efecto suave */
}

.bienvenida-container:hover .bienvenida-text {
  opacity: 1; /* El texto se hace visible al pasar el mouse */
}

.bienvenida-container:hover img {
  opacity: 0.6; /* La imagen se vuelve más opaca al hacer hover */
}

.bienvenida-text h2 {
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 3px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

/* Estilos para la sección de Nosotros */

#nosotros {
  background-color: #f8f8f8;
  padding: 100px 0;
}

#nosotros h2 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 40px;
  color: #333;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.content-container {
  display: flex;
  justify-content: space-between;
  gap: 30px; /* Espaciado entre los cuadros */
  flex-wrap: wrap; /* Asegura que los elementos se ajusten en pantallas pequeñas */
}

.nosotros-item {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  width: 30%; /* Ajustar el tamaño de cada cuadro */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.nosotros-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.nosotros-text {
  padding: 20px;
}

.nosotros-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.nosotros-description {
  font-size: 1rem;
  color: #666;
}

.nosotros-item:hover {
  transform: scale(1.05); /* Efecto de escala al pasar el mouse */
}

@media (max-width: 768px) {
  .nosotros-item {
    width: 45%; /* Ajustar al 45% en pantallas medianas */
  }
}

@media (max-width: 480px) {
  .nosotros-item {
    width: 100%; /* Ajustar al 100% en pantallas pequeñas */
  }
}


/* Sección de Servicios */

#servicios {
  background-color: #fff;
  padding: 80px 0;
}

#servicios h2 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 40px;
  color: #333;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.servicio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
  padding: 40px;
  border: 2px solid #e0e0e0; /* añade el borde */
  border-radius: 12px; /* esquinas redondeadas */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
}

.servicio p {
  max-width: 100ch; /* hace que el párrafo tenga ancho para 50 caracteres aprox */
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.servicio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
  padding: 40px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.servicio:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.servicio h3 {
  font-size: 32px;
  margin-bottom: 20px;
}

.servicio p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.servicio .icono {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 20px;
  overflow: hidden;
  position: relative;
}

.servicio .icono img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

.servicio .icono i {
  font-size: 36px;
  color: #fff;
}



@media (min-width: 768px) {
  .servicio {
    flex-basis: 45%;
  }
}


/* Sección de Trabajos Realizados */
#trabajos {
    margin: 0;
    padding: 0;
}

#trabajos h2 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 40px;
  color: #333;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.slider-frame img {
  width: 100%;
  height: 400px; /* Puedes ajustar esta altura como prefieras */
  object-fit: cover; /* Esto hace que se recorte lo que sobre */
  border-radius: 10px;
}


/* Contenedor del slider */
.slider-frame {
	width: 1280px;
	height: auto;
	margin:50px auto 0;
	overflow: hidden;
	border-radius: 20px; /* Suavizado de bordes */
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 500%; /* Ajusta esto según el número de imágenes */
	animation: slide 15s infinite ease-in-out; /* Reducir el tiempo de animación */
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

.slider-frame {
  padding-left: 30px;
  padding-right: 30px;
}

@keyframes slide {
	0% { margin-left: 0; }
	25% { margin-left: -100%; }
	50% { margin-left: -200%; }
	75% { margin-left: -300%; }
	100% { margin-left: -400%; }
}

/* Sección de contacto */
.contacto {
  background-color: #333;
  color: #fff;
  padding: 100px 0;
}

.contacto ul {
  list-style-type: none;
  padding-left: 0;
}

.contacto h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 30px;
}

.contacto .contacto-info {
  padding: 0 20px;
  text-align: center;
}

.formulario-mapa {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-top: 40px;
  align-items: flex-start;
  justify-content: center;
}

.contacto-formulario,
.contacto-mapa {
  flex: 1;
  max-width: 600px;
}

.contacto form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contacto form .form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contacto form input[type="text"],
.contacto form input[type="email"],
.contacto form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.contacto form button[type="submit"] {
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color .3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.contacto form button[type="submit"]:hover {
  background-color: #ccc;
}

.contacto-mapa iframe {
  width: 100%;
  height: 100%;
  min-height: 450px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

/* Responsive */
@media (max-width: 768px) {
  .formulario-mapa {
    flex-direction: column;
    gap: 30px;
  }

  .contacto-formulario,
  .contacto-mapa {
    max-width: 100%;
  }

  .contacto h2 {
    font-size: 2rem;
  }
}



/* Estilos para el pie de página */
/* Pie de página */
footer {
  text-align: center;
  padding: 15px;
  background-color: #222;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: 0.9rem;
}



/* Evitar el desbordamiento horizontal */
html, body {
  overflow-x: hidden;
  width: 100%;
}



